
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px;
}
.pointer{
    cursor: pointer;
}
a {
color: black;
}
select {
    background-color: #eaedf2;
}
option:focus{
    background-color: #CDD8E4;
 
}
option{
    background-color: #eaedf2;
}
option:hover{
    background-color: cornflowerblue;
}